h1 {color: lightgrey; 
  }

h3 {color: #20B2AA;
    font-weight: bold; }

#nav {padding-bottom: 20px; }

#column2 {color: grey; }

a:link {
  color: #20B2AA;
  background-color: transparent;
  text-decoration: none; }

a:hover {
  color: #20B2AA ;
  background-color: transparent ;
  text-decoration: underline; }

a:visited {
  color: #20B2AA;
  background-color:transparent;
  text-decoration: none;
  }

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: white;
  background-color: #20b2aa;
  border-color: #20b2aa;
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:grey; 
  color: white;
  text-align: center;
  }

img {
  padding:25px;
}