Michael O'Hara-Close <br>
S2850061 <br> 1/6/2014

<p>
  <h2>CareerSearch Application</h2>
  <h2>How to use:</h2> <p>
  Please create a new account or use the login information; <br> email: oreo@gmail.com password: 123456 (employer) <br>  email: timtam@gmail.com password: 123456 (employer) <br>  email: mintslice@gmail.com password: 123456 (jobseeker) <br>  email: redbull@gmail.com password: 123456 (jobseeker) <br> Please note, these users do not have display images as they were created from seeding <br> Creating a new user will allow users to upload and display image <br>
  Upon opening the application the page will automaticaly open on the user homepage. <br> 
  Located on the top are nav buttons 'Sign up' and 'log in'. <br>
  The log in tab will take you to the user/index.blade.php page which contains a form that allows users to log in with their email and password <br> 
  The sign up button takes users to the user/create.blade.php which allows users to create an account if they dont already have one <br>
  Once logged in the user is taken to the job/index.blade.php which brings up a list of paginated jobs and a side navigation bar that allows users to add a job or view applications* <br>
  When a job is selected it will bring up the job/show.blade.php which will give users the option to delete edit or apply*<br>
  Clicking edit will take users to the job/edit.blade.php which will give users a form to edit the job and an update button which will store the inputs and return the user to the job/show.blade.php <br>
  Clicking delete will delete the job. <br>
  Clicking apply will take users to the application from in application/create.blade.php, once in this they can fill out the form and click apply which takes them to the application/show.blade.php which has a link returning to the job/index.blade.php<br>
  
    <p>
    
    <h2>Functionality</h2>
    Currently the search function does not allow users to view search results<br>
    Viewing applications also does not work as it will not display the $applications as application list<br>
    The job index is different between employers and job seekers however when adding a new job it does not display that it belongs to the current employer. 

  <p>
    <h2>Database Schema:</h2> 
<p> <h3> Migrations </h3> <p>
   	Schema::create('users', function($table) { <br>
                   $table->increments('id'); <br>
                   $table->string('email')->unique(); <br>
                   $table->string('password')->index(); <br>
                   $table->string('name'); <br> 
                   $table->enum('category', array('jobseeker', 'employer')); <br>
                   $table->char('phone', 15); <br> 
                   $table->text('remember_token')->nullable(); <br> 
                   $table->timestamps(); <br>
     });
   

    <p>
    Schema::create('applications', function($table) { <br> 
                   $table->increments('id'); <br> 
                   $table->integer('user_id'); <br> 
                   $table->integer('job_id'); <br> 
                   $table->string('applicant'); <br>  
                   $table->text('letter'); <br> 
                   $table->timestamps(); <br> 
    });
      
    <p>
    Schema::create('jobs', function($table) { <br> 
                   $table->increments('id'); <br>  
                   $table->integer('user_id'); <br> 
                   $table->string('title')->index(); <br> 
                   $table->text('description')->index(); <br> 
                   $table->string('location')->index(); <br> 
                   $table->float('salary')->index(); <br> 
                   $table->timestamps(); <br> 
    });
      
        
